.desc__page {
    min-width: 100vw;
    height: 100%;
  font-family: helvetica;
  margin-top: 6%;
  background-color: transparent;
}
.product__details {
max-height: 70%;
  overflow-y: scroll;
  padding-left: 20px;

}
.location {
  z-index: 100;
  padding-left: 33px;
  background-color: transparent;
}
body{
  background-color: rgb(244, 244, 244) ;
}
.location a {
  text-decoration: none;
  font-size: 14px;
  line-height: 23.84px;
  color: #807e7e;
}

.product__Desc {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
}
.product__image {
 min-width:50vw;

}

.product__image img {
  min-width: 90%;
  max-width: 90%;
  height: 70vh;
  margin-bottom: 30px;
}
.product__details__head {
  font-size: 45px;
  margin: 0;
  color: #494949;
}

.product__details__desc {
  font-size: 16px;
  color: #757575;
}

.product__details__code {
  font-size: 14px;
  color: #000000;
}

.product__details__price {
  color: #383737;
  font-size: 24px;
  margin: 0;
  font-weight: 600;
  margin-top: 33px;
  line-height: 28px;

  letter-spacing: 0.78px;
}

.product__details__prevprice,
.product__details__prevprice a {
  color: #757575;

  font-size: 12px;
}
#affirm-logo {
  max-height: 16px;
  margin-right: 10px;
}
.affirm__class,
.affirm__class a {
  font-size: 15px;
  color: #757575;
  letter-spacing: -0.45px;
  line-height: 19.5px;
  margin-top: 20px;
}

.affirm__class span {
  color: #212121;
  line-height: 22px;
  font-size: 15.7px;
  letter-spacing: -0.3px;
}

.product__details__buttons {
  width: 100%;
  display: flex;
}
.qty {
  min-width: 15%;
  padding: 15px 15px;
  background-color:rgb(244, 244, 244) ;
  border: 1px solid #757575;
  border-radius: 3px;
  font-size: 20px;
}
.qty a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
.qty span {
  margin: 0 20px;
}
.cart_button {
  font-weight: bold;
  min-width: 60%;
  font-size: 17px;
  padding: 3px 0;
  line-height: 24px;
  margin-left: 30px;
  border-radius: 0px !important;
  color: white;
  background-color: #022e49;
}
.read_more {
  margin-top: 40px;
  color: #757575;
  font-size: 14px;
  line-height: 22px;
}

.collapsible_details {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin-left: -33px;
}

.collapsible_details button {
  color: #757575;
  font-size: 18px;
  border-top: 1px solid #757575;
}

.features {
  /* display: list-item; */
  margin: 0 0 30px 30px;
  width: 75%;
  font-size: 14px;
  color: #757575;
  line-height: 22px;
  padding: -10px 0;
}

.features li {
  display: list-item;
}
.features li::marker {
  font-size: 18px;
}
.button_content_1
{
    display: none;
}
.download {
  margin-top: 10px;
  position: relative;
  text-align: left;
  font-size: 14px;
  color: #757575;
  line-height: 22px;
  padding-bottom: 30px;
}
#d-icon {
  left: -10px;
  position: absolute;
  min-width: 30px;
  color: gray;
  top: 1px;
  max-height: 15px;

}
#ss {
  margin-left: 20px;
}

#specs {
  padding-left: 60px;
}

.content__head {
  font-size: 14px;
  color: #494949;

  padding-bottom: 0px;
}
#specs ul li {
  font-size: 14px;
  line-height: 22px;
  display: list-item;
  margin-left: -20px;
  color: #757575;
}

#install {
  padding-left: 60px;
}
#install ul li {
  font-size: 14px;
  line-height: 22px;
  display: list-item;
  margin-left: -20px;
  color: #757575;
}

.loc__head {
  color: #303030;
  font-size: 17px;
  margin-left: 40px;

}

.zip {
  display: flex;
  justify-content: space-between;
  margin:0 0 30px 40px;
  width: 90%;
  color: #757575;
  font-size: 14px;
  line-height: 19.5px;
}
.zip a ,.box a{
  color: #757575;
}

.box {
    margin-left:40px;

   
    max-width:90%;
}
.box_det{
    font-size: 16px;
    line-height: 24px;
    color: #757575;
    padding:30px;
    display: flex;
    border:1px solid gray;
    margin-bottom: 30px;;
}
.box_det div{
    max-width: 70%;
    margin-left:30px;
}

.related_prod{
    min-width:100vw;
    display:flex;
    flex-direction: row;
}

.related__head{
font-size: 45px;
min-width: 100vw;
line-height: 56px;
margin-top:40px;
display: flex;
flex-direction: row;
}

.recommend {
    font-size: 32px;
    line-height: 40px;

}

.i1{
    min-width:40%;
}
.product-card__image{
    min-height: 30vh;
    min-width: 30vw;
}
.add-ons{
    min-width:60%;
    margin-bottom: 30px;;
    display: flex;
    flex-direction: row;
    gap:30px;
}
.add-ons div{
    min-width:40%;
}

@media screen  and (max-width:720px){
  
.product__Desc {
    padding-top: 40px;
    display: flex;
    
    flex-direction: column;

  }  
  .product__image{
    margin-left:30px;
  }
  .product__image img{
    height: 70%;
    width:90vw;
  }
 
}